Package: com.kaneb.easyaccess
Name: EasyAccess
Depends: mobilesubstrate, com.kaneb.kbapplist, com.kaneb.kbpreferences
Architecture: iphoneos-arm
Description: Easy dock like app launcher. Usable everywhere but the lock screen. Requires activator 
Maintainer: Kane Buckthorpe
Author: Kane Buckthorpe
Section: Tweaks
Version: 0.1.2
Installed-Size: 772
