<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>50</integer>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EACellSizeMultiplier</string>
			<key>label</key>
			<string>Cell size:</string>
			<key>minimum</key>
			<string>10</string>
			<key>maximum</key>
			<string>100</string>
			<key>stepValue</key>
			<string>5</string>
			<key>showPercentage</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>7</integer>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EACellCount</string>
			<key>label</key>
			<string>Apps per page:</string>
			<key>minimum</key>
			<string>1</string>
			<key>maximum</key>
			<string>15</string>
			<key>stepValue</key>
			<string>1</string>
			<key>showPercentage</key>
			<false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>65</integer>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EADockThickness</string>
			<key>label</key>
			<string>Dock thickness:</string>
			<key>minimum</key>
			<string>40</string>
			<key>maximum</key>
			<string>100</string>
			<key>stepValue</key>
			<string>5</string>
			<key>showPercentage</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>20</integer>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EADockBorderWidth</string>
			<key>label</key>
			<string>Border width:</string>
			<key>minimum</key>
			<string>0</string>
			<key>maximum</key>
			<string>100</string>
			<key>stepValue</key>
			<string>10</string>
			<key>showPercentage</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<integer>20</integer>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EADockCornerRadius</string>
			<key>label</key>
			<string>Corner radius:</string>
			<key>minimum</key>
			<string>0</string>
			<key>maximum</key>
			<string>50</string>
			<key>stepValue</key>
			<string>1</string>
			<key>showPercentage</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EARoundIcons</string>
			<key>label</key>
			<string>Round icons</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EAVerticalMode</string>
			<key>label</key>
			<string>Vertical mode</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EADockGradient</string>
			<key>label</key>
			<string>Dock gradient</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Window</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EAAppGradient</string>
			<key>label</key>
			<string>Window gradient</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animations</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
			<key>cellClass</key>
			<string>KBStepperCell</string>
			<key>default</key>
			<real>0.3</real>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>key</key>
			<string>EAAnimationSpeed</string>
			<key>label</key>
			<string>Animation speed:</string>
			<key>minimum</key>
			<string>0</string>
			<key>maximum</key>
			<string>1</string>
			<key>stepValue</key>
			<string>0.1</string>
			<key>showPercentage</key>
			<false/>
		</dict>
	</array>
	<key>title</key>
	<string>Customisation</string>
</dict>
</plist>
