<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>EAInstructionsController</string>
			<key>label</key>
			<string>Instructions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>EACustomisationController</string>
			<key>label</key>
			<string>Customisation</string>
		</dict>
		<dict>
			<key>appList</key>
			<string>allApps</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<string>selected</string>
			<key>defaults</key>
			<string>com.kaneb.easyaccess</string>
			<key>detail</key>
			<string>ALViewController</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>EASelectedApps</string>
			<key>label</key>
			<string>Apps to display</string>
			<key>postNotification</key>
			<string>com.kaneb.easyaccess/prefchanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>EAActivatorController</string>
			<key>label</key>
			<string>Activator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KBFooterCell</string>
			<key>height</key>
			<string>80</string>
			<key>icon</key>
			<string>https://twitter.com/indiedevkb/profile_image</string>
			<key>label</key>
			<string>Kane Buckthorpe</string>
			<key>roundIcon</key>
			<true/>
			<key>socialLinks</key>
			<array>
				<dict>
					<key>icon</key>
					<string>/Library/Frameworks/KBPreferences.framework/twitter</string>
					<key>link</key>
					<string>https://twitter.com/indieDevKB</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>/Library/Frameworks/KBPreferences.framework/paypal</string>
					<key>link</key>
					<string>https://www.paypal.me/kanebuckthorpe/2.00</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Translators</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KBFooterCell</string>
			<key>height</key>
			<string>60</string>
			<key>icon</key>
			<string>https://twitter.com/CelikSerif61/profile_image</string>
			<key>label</key>
			<string>Serif61 - Turkish</string>
			<key>roundIcon</key>
			<true/>
			<key>socialLinks</key>
			<array>
				<dict>
					<key>icon</key>
					<string>/Library/Frameworks/KBPreferences.framework/twitter</string>
					<key>link</key>
					<string>https://twitter.com/CelikSerif61</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Easy Access</string>
</dict>
</plist>
